@model DoAnCN.Models.AdminT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginV</title>
</head>


<body class="bg-primary">

    @using (Html.BeginForm("LoginV", "AdminV", FormMethod.Post))
    {
        <h2> Đăng nhập tài khoản</h2>

        <form>
            <fieldset class="form-group">
                <label for="formGroup1">Tên tài khoản</label>
                @Html.TextBoxFor(m => m.EmailAD, null, new { @class = "form-control", @placeholder = "Tài khoản" })
            </fieldset>

            <fieldset class="form-group">
                <label for="formGroup1">Mật Khẩu</label>
                @Html.TextBoxFor(m => m.PasswordAD, null, new { @class = "form-control", @placeholder = "Mật khẩu" })
            </fieldset>

            <fieldset class="form-group">
                <button type="submit" class="btn">Đăng Nhập</button>
            </fieldset>

            <fieldset class="form-group">
                @ViewBag.Message
            </fieldset>
        </form>

    }
    <script src="" crossorigin="anonymous"></script>
    <script src="/Content/js/scripts.js"></script>}
</body>
}

</html>
