* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}



.navbar1 {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding: 30px 0;
    font-family: cursive;
    transition: 0.6s;
    color: #000;
}

@media (max-width: 900px) {
    .navbar1 .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
}
/* ----- scroll -------------- */
.sticky {
    padding: 15px 0;
    background-color: #3DCFD3;
}

    .sticky .max-width .logo .name {
        color: #fff;
    }
/* ----- scroll -------------- */

.navbar1 .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

.navbar1 .menu li {
    display: inline-block;
}



.navbar1 .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

.menu .icon {
    display: none;
}


/*slider*/
:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}




.hero-section{
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card-1{
  list-style: none;
  position: relative;
}

.card-1:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card-1:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card-1:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

li {
    list-style: none;
}

.navbar1 .menu li a {
    position: relative;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s ease;
    margin-top: 20px;
}


.menu-btn {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 900px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
}

section {
    padding: 100px 0;
    
}

#home {
    display: flex;
    background: url(images/5.jpg);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

    .home .max-width {
        width: 100%;
        display: flex;
        color: white;
    }

    .home .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-family: cursive;
    }

        .home .home-content .text-1 {
            font-size: 75px;
            font-weight: 600;
            margin-left: -3px;
            color: inherit;
            z-index: 2;
        }

        .home .home-content .text-2 {
            font-size: 40px;
            margin: 5px 0;
            color: lightcyan;
            z-index: 2;
        }

        .home .home-content .home-btn-a {
            display: inline-block;
            background: rgba(88, 121, 141, 0.5);
            color: #fff;
            font-size: 25px;
            padding: 12px 32px;
            margin-top: 20px;
            font-weight: 400;
            border-radius: 14px;
            border: 2px solid #3DCFD3;
            transition: all 0.3s ease;
            z-index: 2;
            
        }

        .home .home-content .home-btn-b {
            display: inline-block;
            background: rgba(33,33,33,0.5);
            color: #fff;
            font-size: 25px;
            padding: 12px 32px;
            margin-top: 20px;
            font-weight: 400;
            border-radius: 14px;
            border: 2px solid #3DCFD3;
            transition: all 0.3s ease;
            z-index: 2;
        }

        .home .home-content .home-btn a {
            margin-left: .5rem;
        }



footer.site-footer {
    margin-top: -40px;
}

.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 20px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.social-icons-1 a {
    width: 40px;
    height: 60px;
    line-height: 60px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    font-size: 200%;
}

.social-icons-1 {
    background: rgba(36, 27, 27 ,0.72);
    width: 44px;
    position: fixed;
    margin-top: 270px;
    z-index: 9999999;
    border-radius: 0.4rem;
    
}

    .social-icons-1 li:hover {
        background-color: yellow;
    }
.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

.contact {
    display: block;
    background: url(images/3.jpg);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    justify-content: center;
    padding: 8% 10%;
    position: relative;
    overflow: hidden;
    font-family: arial,helvetica;
}



form.form-contact {
    text-align: center;
    font-family: cursive;
}

.title-contact {
    padding-top: 15%;
}

.acc {
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}


input#input-name {
    text-align: center;
    margin-bottom: 5%;
    padding: 3% 10%;
    border-radius: 1.5rem;
    font-size: 2.5rem;
}

input#input-email {
    text-align: center;
    margin-bottom: 5%;
    padding: 3% 10%;
    border-radius: 1.5rem;
    font-size: 2.5rem;
}

input#input-subject {
    text-align: center;
    margin-bottom: 5%;
    padding: 3% 10%;
    border-radius: 1.5rem;
    font-size: 2.5rem;
}

textarea#input-message {
    text-align: center;
    margin-bottom: 5%;
    padding: 5% 15%;
    border-radius: 1.5rem;
    font-size: 2.5rem;
}

/*Product*/

.small-container {
    margin-left: 5%;
    margin-right: 5%;
}

.categories {
    margin: 70px 0;
}

.row-1 {
    display: flex;
    flex-wrap: wrap;
    Justify-content: space-around;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.title-prodcut {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.6s;
}


.container-1 {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-right: 25px;
}

.header-1 {
    overflow: scroll;   
}
.header-1 .row {
    margin-top: 70px;
}

.col-3 img {
    width: 100%;
}

.col-3 p {
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.col-4 img {
    width: 100%;
}

.col-4:hover {
    transform: translateY(-5px);
}

/*gg map*/

#map {
    height: 500px;
    width: 550px;
}


/*search bar*/
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #5dd9d8;
    border-radius: 30px;
    padding: 10px;
    margin-top:3%;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    border-radius: 30px;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 95%;
    color: red;
    transition: width 0.4s linear;
    border-radius:20px;
}

.searchbar:hover > .search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 100%;
    width: 4%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

h2.title-product {
    padding: 1% 0 1% 4%;
}



/*gan footer*/

.icon--why-1::before {
    color: #0d37e1;
    font-size: 50px;
}

.icon--why-2::before {
    color: #0d37e1;
    font-size: 50px;
}
.icon--why-3::before {
    color: #0d37e1;
    font-size: 50px;
}
.icon--why-4::before {
    color: #0d37e1;
    font-size: 50px;
}
.icon--why-5::before {
    color: #0d37e1;
    font-size: 50px;
}
.icon--why-6::before {
    color: #0d37e1;
    font-size: 50px;
}

.why-item {
    text-align: center;
    padding-bottom: 50px;
    padding-top:20px;
}

.col-4-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 33.33333%;
}

.row-1 {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-left: calc(var(--bs-gutter-x)/-2);
}

.why-item__title {
    font-weight: 700;
    font-size: 17px;
    color: #0d37e1;
}

.home-page__title {
    font-weight: 700;
    font-size: 40px;
    color: #06b5af;
    text-align: center;
}

/*about*/
#about-us {
    display: flex;
    background: url(images/about-us.jpg);
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

#about-us .about-content .text-about {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    text-align: inherit;
    color: white;
    font-family: cursive;
    z-index:2;
}

.about .about-content {
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.text-3 {
    font-size: 45px;
    width: 30%;
    color: slateblue;
    font-weight: 600;
    padding-right: 5%;
}

.title-about {
    width: 70%;
    font-weight: 400;
}

.text-4 {
    font-size: 24px;
    text-align: justify;
    padding-top: 25px;
}

.text-5 {
    font-size: 24px;
    text-align: justify;
}

.about-text {
    display: flex;
    background-color: #8c67e9f5;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.text-about {
    color: ivory;
    font-size: 50px;
    padding-bottom: 3%;
    font-weight: 700;
    text-align: center;
}

.max-width-about {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
    text-align: center;
}

img.about-img-1 {
    padding-top: 60px;
}

/*video*/

.about-video {
    padding: 1% 10%;
}

.video-skys {
    text-align: center;
    padding: 5% 0;
}

.text-6 {
    font-size: 45px;
    color: slateblue;
    font-weight: 600;
    padding-right: 5%;
}

.text-7 {
    font-size: 24px;
    text-align: justify;
    padding-top: 15px;
}

/*about-phat*/
.about-phat {
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding:0 80px;
    margin: auto;
}

.about-phat about-phat-1{
    width:70%;
}

.about-phat about-phat-2{
    width:30%;
}

.box-about {
    padding-top: 2%;
}

.box-about .box-text-1 {
    background-color: #ff9400;
    color: #fff;
}
.box-about .box-text-2 {
    background-color: #00a698;
    color: #fff;
}
.box-about .box-text-3 {
    background-color: #ff7b59;
    color: #fff;
}
.box-about .box-text-4 {
    background-color: #5a489b;
    color: #fff;
}

.box-p {
    padding: 4rem;
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 3rem;
    margin: 1rem;
}