@{
    ViewBag.Title = "About";
}



<div id="about-us">
    <div class="max-width">
        <div class="about-content">
            <div class="text-about">For us, </div>
            <div class="text-about">Customer is god</div>
        </div>
    </div>

</div>

<section class="about">
    <div class="about-content">
        <div class="text-3">Du lịch theo cách của bạn 
            <img class="about-img-1" src="~/Content/images/travel-2.svg" />
        </div>
        <div class="title-about">
            <div class="text-5">
                Khi thành lập công ty vào tháng 9/2021, chúng tôi luôn mong muốn làm những điều khác biệt. Chúng tôi muốn mang đến cho khách hàng một giải pháp đơn giản thay cho những trang web rối mắt khiến việc du lịch trở nên khó khăn.
            </div>
            <div class="text-4">
                Mỗi người đều có những sở thích, cá tính và nhu cầu riêng. Vì vậy, để có thể đạt được 100% hài lòng trong mỗi chuyến đi, cách tốt nhất vẫn là lắng nghe chính bản thân mình. Chưa cần biết những nơi bạn đến có "chất", có "lạ" hay không nhưng chỉ cần bạn cảm thấy mình thoải mái, vui vẻ khi đặt chân đến vùng đất mới thì đó đã là một sự thành công. Hãy để chúng tôi giúp bạn du lịch theo cách của bạn.
            </div>
            <div class="text-4">
                Dành hết tâm huyết để đơn giản hóa việc du lịch, chúng tôi luôn sẵn sàng hỗ trợ khách hàng lựa chọn tour và dịch vụ thuê xe phù hợp nhất để có một chuyến du lịch hoàn hảo.
            </div>
            <div class="text-4">
                Hãy tin tưởng chúng tôi.
            </div>
        </div>

    </div>
</section>

<div class="about-text">
    <div class="max-width-about">
        <div class="about-content">
            <div class="text-about">Sứ mệnh của chúng tôi là dẫn dắt cuộc chuyển đổi trên quy mô toàn cầu, tiến tới xu hướng du lịch hiện đại và bền vững </div>           
        </div>
        <i class="fas fa-map-marked-alt"></i>
    </div>
</div>


<section class="about">
    <div class="about-content">
        <div class="text-3">Du lịch hiện đại là gì
            <img class="about-img-1" src="~/Content/images/travel-1.svg" />
        </div>
        <div class="title-about">
            <div class="text-5">
                Thoải mái là yếu tố quan trọng nhất khi đi du lịch. Chính vì vậy, việc lên kế hoạch và đặt chuyến đi phải thật đơn giản, không gây áp lực.
            </div>
            <div class="text-4">
                Chúng tôi hiểu rằng bạn luôn muốn tìm kiếm mức giá tốt nhất và thoải mái lựa chọn những dịch vụ phù hợp với mình. Đây chính là lý do chúng tôi không ngừng nỗ lực để đảm bảo rằng ứng dụng và trang web của mình phải thật dễ hiểu và nhanh chóng.
            </div>
            <div class="text-4">
                Bạn có thể chọn địa điểm, thời gian phù hợp và nhận được mức giá tốt nhất từ hàng nghìn trang web mà không cần mất công tìm kiếm ở đâu khác. Không những thế, chúng tôi còn có nhiều giải pháp để giúp bạn tìm được chuyến đi phù hợp nhất với mong muốn của mình, đáp ứng mọi phong cách du lịch và mức ngân sách.
            </div>
            <div class="text-4">
                Nơi nào cũng được ư? Hãy tìm kiếm ‘Mọi nơi’ để chọn điểm du lịch có mức giá tốt nhất. Nếu bạn đã có điểm đến thì sao? Hãy sử dụng tính năng Thông báo về giá để biết khi giá vé thay đổi nhé.
            </div>
            <div class="text-4">
                Sau khi chọn thời gian và địa điểm, bạn có thể nhanh chóng hoàn thành vài bước đặt vé trên ứng dụng hoặc trang web cung cấp hơn 30 ngôn ngữ của chúng tôi.
            </div>
        </div>

    </div>
</section>

<div class="about-video">
    <div class="text-6">Trên cả mong đợi</div>
    <div class="text-7">Sứ mệnh của chúng tôi là thay đổi cách thức du lịch của cả thế giới.</div>
    <div class="video-skys">
        <iframe width=700" height="400" src="https://www.youtube.com/embed/HAHJoZon8C0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </div>
</div>

<div class="about-video">
    <div class="text-6">Văn hóa của chúng tôi</div>
    <div class="text-7">Mỗi ngày, chúng tôi đều...</div>
    <div class="box-about">
        <div class="box-text-1">
            <div class="box-p">Phấn đấu vì những điều tốt đẹp cho con người và đất nước này</div>
        </div>
        <div class="box-text-2">
            <div class="box-p">Lắng nghe, hỗ trợ và đặt câu hỏi để giải quyết những thách thức của ngành du lịch</div>
        </div>
        <div class="box-text-3">
            <div class="box-p">Cân nhắc, tập trung xây dựng các mối quan hệ lâu dài chứ không chỉ vì lợi ích trước mắt</div>
        </div>
        <div class="box-text-4">
            <div class="box-p">Nỗ lực hết sức để giúp du khách quyết định nhanh hơn, chuẩn xác hơn</div>
        </div>
    </div>
</div>