@model DoAnCN.Models.Data.Gmail
<div class="contact-1">
</div>
<section class="u-align-center u-clearfix u-grey-5 u-section-2" id="carousel_f871">
    <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">Let's Connect</h2>
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-col">
                    <div class="u-size-30">
                        <div class="u-layout-row">
                            <div class="u-align-center u-container-style u-layout-cell u-left-cell u-size-15 u-size-30-md u-layout-cell-1">
                                <div class="u-container-layout u-valign-top u-container-layout-1">
                                    <span class="u-icon u-icon-circle u-text-grey-40 u-icon-1">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-fb01"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-fb01" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035    c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,278.719    c-51.442,0-93.292-41.851-93.292-93.293S204.559,92.134,256,92.134s93.291,41.851,93.291,93.293S307.441,278.719,256,278.719z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </span>
                                    <h6 class="u-text u-text-2">OUR MAIN OFFICE</h6>
                                    <p class="u-text u-text-3">Chợ Đêm Làng Đại Học&nbsp;</p>
                                </div>
                            </div>
                            <div class="u-align-center u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-2">
                                <div class="u-container-layout u-valign-top u-container-layout-2">
                                    <span class="u-icon u-icon-circle u-text-grey-40 u-icon-2">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 384 384" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-cd86"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-cd86" x="0px" y="0px" viewBox="0 0 384 384" style="enable-background:new 0 0 384 384;" xml:space="preserve" class="u-svg-content"><g><g><path d="M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594    c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448    c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813    C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </span>
                                    <h6 class="u-text u-text-4">phone number</h6>
                                    <p class="u-text u-text-5">
                                        0377994884<br>0377-995-995 (Toll Free)
                                    </p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-size-15 u-size-30-md u-layout-cell-3">
                                <div class="u-container-layout u-valign-top u-container-layout-3">
                                    <span class="u-icon u-icon-circle u-text-grey-40 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f872"></use></svg><svg xmlns="http://www.w3.org/2000/svg" id="svg-f872" enable-background="new 0 0 512 512" viewBox="0 0 512 512" class="u-svg-content"><path d="m201 12.714v184.286h267v-184.286c0-7.022-5.692-12.714-12.714-12.714h-241.572c-7.022 0-12.714 5.692-12.714 12.714zm63.89 33.131h70.271c8.284 0 15 6.716 15 15s-6.716 15-15 15h-70.271c-8.284 0-15-6.716-15-15s6.715-15 15-15zm0 75.142h139.22c8.284 0 15 6.716 15 15s-6.716 15-15 15h-139.22c-8.284 0-15-6.716-15-15s6.715-15 15-15z"></path><path d="m472 227h-275c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h275c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40zm-207.5 217.5h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm80 120h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15zm0-60h-20c-8.284 0-15-6.716-15-15s6.716-15 15-15h20c8.284 0 15 6.716 15 15s-6.716 15-15 15z"></path><path d="m87 227h-47c-22.091 0-40 17.909-40 40v205c0 22.091 17.909 40 40 40h47c22.091 0 40-17.909 40-40v-205c0-22.091-17.909-40-40-40z"></path></svg></span>
                                    <h6 class="u-align-center u-text u-text-6">fax</h6>
                                    <p class="u-align-center u-text u-text-7">0-38-567-2222</p>
                                </div>
                            </div>
                            <div class="u-container-style u-layout-cell u-right-cell u-size-15 u-size-30-md u-layout-cell-4">
                                <div class="u-container-layout u-valign-top u-container-layout-4">
                                    <span class="u-icon u-icon-circle u-text-grey-40 u-icon-4">
                                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d2c4"></use></svg><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-d2c4" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" class="u-svg-content"><g><g><path d="M467,61H45c-6.927,0-13.412,1.703-19.279,4.51L255,294.789l51.389-49.387c0,0,0.004-0.005,0.005-0.007    c0.001-0.002,0.005-0.004,0.005-0.004L486.286,65.514C480.418,62.705,473.929,61,467,61z"></path>
</g>
</g><g><g><path d="M507.496,86.728L338.213,256.002L507.49,425.279c2.807-5.867,4.51-12.352,4.51-19.279V106    C512,99.077,510.301,92.593,507.496,86.728z"></path>
</g>
</g><g><g><path d="M4.51,86.721C1.703,92.588,0,99.073,0,106v300c0,6.923,1.701,13.409,4.506,19.274L173.789,256L4.51,86.721z"></path>
</g>
</g><g><g><path d="M317.002,277.213l-51.396,49.393c-2.93,2.93-6.768,4.395-10.605,4.395s-7.676-1.465-10.605-4.395L195,277.211    L25.714,446.486C31.582,449.295,38.071,451,45,451h422c6.927,0,13.412-1.703,19.279-4.51L317.002,277.213z"></path>
</g>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                                    </span>
                                    <h6 class="u-align-center u-text u-text-8">mail</h6>
                                    <p class="u-align-center u-text u-text-9">ngotandat104@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="u-size-30">
                        @using (Html.BeginForm("Ct", "Home", FormMethod.Post))
                        {
                            <div class="u-layout-row">
                                <div class="u-size-30">
                                    <div class="u-layout-col">
                                        <div class="u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-5">
                                            <div class="u-container-layout u-container-layout-5">
                                                <h3 class="u-text u-text-default u-text-10">Get a free case evaluation today!</h3>
                                                <h6 class="u-text u-text-11">AVAILABLE 24 HOURS A DAY!</h6>

                                                <div class="u-form u-form-1">
                                                    <form action="#" method="POST" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 0;" source="custom" name="form">
                                                        <div class="u-form-group u-form-name">
                                                            <label for="name-3d90" class="u-form-control-hidden u-label">To</label>
                                                            @Html.TextBoxFor(m => m.To, new { @type = "text", @placeholder = "Enter a valid email address ngotandat104@gmail.com", @id = "name-3d90", @name = "name", @class = "u-input u-input-rectangle u-white", @required = "", @Value = "ngotandat104@gmail.com"})
                                                            @*<input type="text" placeholder="Enter a valid email address" id="name-3d90" name="name" class="u-input u-input-rectangle u-white" required="">*@
                                                        </div>
                                                        <div class="u-form-email u-form-group">
                                                            <label for="email-3d90" class="u-form-control-hidden u-label">Subject</label>
                                                            @Html.TextBoxFor(m => m.Subject, new {@type="text", @placeholder = "Enter a Subject" , @id = "email-3d90", @name = "email", @class = "u-input u-input-rectangle u-white", @required = "" })
                                                            @*<input type="email" placeholder="Enter a Subject" id="email-3d90" name="email" class="u-input u-input-rectangle u-white" required="">*@
                                                        </div>
                                                        <div class="u-form-group u-form-message">
                                                            <label for="message-3d90" class="u-form-control-hidden u-label">Message</label>
                                                            @Html.TextAreaFor(m => m.Body, new { @placeholder = "Enter your message",@rows = "4" , cols = "50", id = "message-3d90", name = "message",@class="u-input u-input-rectangle u-white", @required = "" })
                                                            @*<textarea placeholder="Enter your message" rows="4" cols="50" id="message-3d90" name="message" class="u-input u-input-rectangle u-white" required=""></textarea>*@
                                                        </div>
                                                        <div class="u-form-group u-form-submit">
                                                            <input type="submit" value="Send" class="u-form-control" />
                                                        </div>
     
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="u-size-30">
                                    <div class="u-layout-col">
                                        <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-6">
                                            <div class="u-container-layout u-container-layout-6">
                                                <h3 class="u-text u-text-default u-text-12">we are here</h3>
                                                <h6 class="u-text u-text-13">Mon-Fri 8:30am- 5pm / Phones are open 24/7</h6>
                                                <div class="u-grey-light-2 u-map u-map-1">
                                                    <div id="map">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
