@model IEnumerable<DoAnCN.Models.Tour>



<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">VietNam – the heart of Asia</div>
            <div class="text-2">Timeless charm</div>
            <div class="home-btn">
                @Html.ActionLink("Book Tour", "Tour", "Home", new { @class = "home-btn-a" })
                <a class="home-btn-b" href="#popular">Popular</a>
            </div>
        </div>
    </div>
</section>
<h3 class="title-product-1 "> Popular Display</h3>
<div class="header-1">
    <section class="hero-section" id="popular">

        <div class="card-grid">
            @foreach (var item in Model)
            {
                <a class="card-1" href="#">
                    <div class="card__background" style="background-image: url(../Content/images/@item.ImageTour)"></div>
                    <div class="card__content">
                        <p class="card__category">@item.TitleTour</p>
                        <h3 class="card__heading">@item.DescTour</h3>
                    </div>
                </a>
            }

        </div>


    </section>

  </div>
<div class="testimonial-container">
    <div class="progress-bar"></div>
    <div class="fas fa-quote-left fa-quote"></div>
    <div class="fas fa-quote-right fa-quote"></div>
    <p class="testimonial">
        Tôi đã từng đi du lịch rất nhiều nhưng công ty này làm tôi rất hài lòng từ thiết kế tour tới khách sạn ăn uống rất là được
    </p>
    <div class="user">
        <img src="https://kenh14cdn.com/thumb_w/660/2019/3/24/5451948722551103147424772114672588939591680n-1553406715068621869667.jpg"
             alt="user"
             class="user-image" />
        <div class="user-details">
            <h4 class="username">Nguyễn Thị Thu</h4>
            <p class="role"></p>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        $('.home-btn .home-btn-b').on('click', function (event) {
            event.preventDefault();
            var sectionID = $(this).attr("href");
            scrollToID(sectionID, 750);
        });

    });

</script>
