<section class="home" id="home" >
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">VietNam – the heart of Asia</div>
            <div class="text-2">Timeless charm</div>
            <div class="home-btn">
                @Html.ActionLink("Book Tour", "Tour", "Home", new { @class = "home-btn-a" })
                <a class="home-btn-b" href="#popular">Popular</a>
            </div>
        </div>
    </div>
</section>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
            <input class="search_input" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
    </div>
</div>
<div class="header-1">
    <section id="popular">
        <div class="container-1">
            <div class="small-container">
                <h2 class="title-prodcut"> Products Display</h2>
                <div class="row-1">
                    <div class="col-4">
                        <img src="~/Content/images/2.jpg">
                        <h4>Red Polo Collar T-Shirt</h4>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ------------------------ -->

        </div>
    </section>
</div>

<script>

    $(document).ready(function() {
        $('.home-btn .home-btn-b').on('click', function(event){
            event.preventDefault();
            var sectionID = $(this).attr("href");
            scrollToID(sectionID, 750);
        });

       
        });
</script>
